.footer {
  background-image: url("@/assets/charpentier-travaillant-dans-une-maison.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 60px;
}

/* dark overlay */
.overlay {
  background: rgba(0, 0, 0, 0.75);
  padding: 50px 0 20px;
}

/* main area */
.content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* ABOUT */
.about {
  max-width: 340px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.logo span {
  color: #FC5A15;
}

.about p {
  color: #99A1AF;
  line-height: 1.6;
}

/* LINKS */
.links {
  display: flex;
  gap: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col h4 {
  margin-bottom: 10px;
}

.col a {
  color: #99A1AF;
  cursor: pointer;
  font-size: 15px;
}

.col a:hover {
  color: white;
}

/* bottom */
.bottom {
  width: 90%;
  margin: 40px auto 0;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}